@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    color: var(--color-font);
}



header{
    background-image: linear-gradient(#1d1e24d5, #1d1e24d5), url(../storage/img/placeYourImageHere0.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    background-size: cover;
}

/*----------NAV----------*/

nav{
    display: flex;
    height: 15vh;
}

.lista-nav{
    width: 35vw;
    list-style: none;
    display: flex;
    font-weight: bold; /*Aplicar negrilla*/
    justify-content: center;
    align-items: center;
}

.lista-nav li{
    margin: 0px 10px 0px 10px;
}

.div-logo-nav{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-home{
    color: var(--color-primary);
}
/*----------FIN NAV----------*/

/*----------SECTION - NAV----------*/

header section{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75vh;
}

header section article{ 
    width: 50vw;
}

.article-img-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-img-header img{
    width: 45vw;
}

.article-text-header{
    display: flex;
    padding-right: 10vw;
    flex-direction: column;
    justify-content: center;
}

.article-text-header h1{
    color: var(--color-primary);
    font-size: 5rem;
}

.article-text-header p{
    font-size: 1.5rem;
    font-weight: bold; /*Aplicar negrilla*/
    margin: 1vw 0 1vw 0;
}

.article-text-header button{
    height: 3vw;
    width: 10vw;
    border: 0;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: var(--color-primary);
    font-family: var(--font-primary);
    font-weight: bold; /*Aplicar negrilla*/
}


/*----------FIN SECTION - NAV----------*/

/*-----------MAIN---------*/

main{
    background-color: var(--color-secundary);
}
/*-----------FIN MAIN---------*/


/*-----------SECCIONES MAIN---------*/
/*-----------SECCION 1---------*/

.section-1-main{
    display: flex;
    height: 100vh;
}

.article-img-section-1{
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-img-section-1 img{
    height: 80%;
    aspect-ratio: 1;
    object-fit: cover;
}

.article-text-section-1{
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.article-text-section-1 h1{
    font-size: 3em;
}

.article-text-section-1 p{
    font-size: 2em;
    font-weight: bold; /*Aplicar negrilla*/
    margin-right:5vw ;
}

/*-----------FIN SECCION 1---------*/

/*-----------SECCION 2---------*/

.section-2-main{
    position: relative;
}

.container-fondo img{
    width: 100%;
}

.img-1-section2{
    width: 30vw;
    position: absolute;
    right: 0;
    top: -10vw;
}

.img-2-section2{
    width: 60vw;
    position: absolute;
    right: 0;
    top: 45vw;
}

.img-3-section2{
    width: 35vw;
    position: absolute;
    left: 0;
    top: 72vw;
}

.article-text-section-2{
    font-size: 2vw;
    width: 30vw;
    position: absolute;
    top: 25vw;
    left: 12vw;
    font-weight: bold;
}


/*-----------FIN SECCION 2---------*/


/*-----------SECCION 3---------*/

.section-3-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-main h1{
    font-size: 2vw;
    margin: 8vw 0 3vw 0;
}

.section-3-main article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-3-main article img{
    margin: 1vw;
    width: 27vw;
}
/*-----------FIN SECCION 3---------*/

/*-----------SECCION 4---------*/

.section-4-main {
    margin-top: 10vw;
    position: relative;
}

.section-4-main img{
    width: 100%;
}

.article-text-section4{
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----------FIN SECCION 4---------*/





